<script type="text/ng-template" id="home-screen.html">
    <div screen="home">

        <div class="section">
            <div class="container">
                <h1>Latest News</h1>
                <div class="gap"></div>
                <div class="flex flex-row flex-wrap box-container">
                    <news-card-item id="1"></news-card-item>
                    <news-card-item id="1"></news-card-item>
                    <news-card-item id="1"></news-card-item>
                </div>
            </div>
        </div>

    </div>
</script>