<script type="text/ng-template" id="info-box.html">
    <div class="box box-primary flex flex-row">
        <div class="box-icon"></div>

        <div class="box-content flex" style="padding-left: 0">
            <h3>Section Update</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque esse excepturi iste minima pariatur sunt? Ad aliquam amet delectus dicta ducimus est excepturi illo ipsam modi molestiae nisi, possimus veniam!</p>
        </div>


    </div>

</script>