<script type="text/ng-template" id="news-card.html">
    <div class="news-card dynamic" ng-class="{active:$ctrl.isReady}">
        <a class="box box-margin box-clickable" style="min-width: 275px">
            <span class="box-image" style="background-image: url('{{$ctrl.newsCard.image}}')"></span>
            <span class="box-content">
                <h3 ng-bind="$ctrl.newsCard.title"></h3>
                <p ng-bind="$ctrl.newsCard.description"></p>
            </span>
        </a>
    </div>

</script>